ul{
    padding:0px;
}

.row {
    text-align: center !important;
}

.col-margin {
    margin-top: 5vh;
}

.btn-margin {
    text-align: initial !important;
    margin-bottom:5px
}

.question-display, .timer-display, .save-display, .highscore-display{
    display: none;
}

#question {
    margin-bottom: 1rem ;
}

.alert {
    margin-bottom: 0rem !important;
}

.footer {
    margin: 5vh;
}